body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card-container {
    perspective: 1000px;
    width: 90%;
    max-width: 960px;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Add relative positioning to card-container */
    z-index: 1; /* Ensure card is above background images */
}

.card {
    width: 100%;
    max-width: 960px;
    height: 700px; /* Increased height for the card */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.company-logo {
    width: 150px;
    margin-bottom: 10px;
}

.profile-photo {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    margin: 5px 0;
    text-align: center;
}

.contact-button {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    margin-top: 10px;
}

.flip-button {
    margin-top: 10px;
    cursor: pointer;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate from contact button */
}

.partners-logos img {
    width: 100px;
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Adjust spacing between logos */
    object-fit: contain; /* Ensure the images maintain their aspect ratio */
}
